*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-size: 32px;
}
.wrapper-3 {
	float: left;
	width: 800px;
	background-color: #FA8072;
	overflow: hidden;
	position: relative;
}
.wrapper-2 {
	float: left;
	width: 800px;
	background-color: 	#A4D3EE;
	position: relative;
	right: 30%;
}
.wrapper-1 {
	float: left;
	width: 800px;
	background-color: #98FB98;
	position: relative;
	right: 40%;
}
header {
	height: 100px;
	background-color: #708090;
}
footer {
	height: 100px;
	background-color: #708090;
	clear: both;
}
.col-1 {
	float: left;
	width: 26%;
	position: relative;
	left: 80%;
	overflow: hidden;
}
.col-2 {
	float: left;
	width: 36%;
	position: relative;
	left: 76%;
	overflow: hidden;
}
.col-3 {
	float: left;
	width: 26%;
	position: relative;
	left: 90%;
	overflow: hidden;
}
.col-2 > p {
	color: black;
	padding: 20px;
}
header > p {
	padding: 50px 0 0 55px;
}
.col-1 > p,
.col-3 > p {
	padding-top: 20px;
}
footer > p {
	padding: 20px 0 0 55px;
}